<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org"
	th:replace="~{base::Layout(~{::section})}"

>
<head>
<meta charset="ISO-8859-1">
<title>This is home page</title>
</head>
<body>
	<section
		class="banner d-flex justify-content-center align-items-center "
	>

		<div class="text-center">

			<h1 class="font-weight-bold">Smart contact Manager</h1>

			<p>start collecting your contacts in smarter way. we provides
				very efficient and smarter way to save your valuable contacts</p>
				
				
				<button class="btn bg-primary btn-large text-white">Get Start</button>

  
		</div>

	</section>


</body>
</html>